*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    background-color: #B9EDDD;
}

header{
    display: flex;
    justify-content: center;
    font-size: 2em;
    padding: 10px;
    font-family: 'Pacifico', cursive;
}

main{
    display: flex;
    justify-content: space-evenly;
}

h2 {
    padding: 10px;
}

.column{
    display: inline-flex;
    flex-direction: column;
    width: 23%;
    border-radius: 10px;
    background-color: #87CBB9;
    border: 2px solid #577D86;
}

/****** SEARCH SECTION STYLING ******/
#search-aside  {
    width: 25%;
}

#search-section {
    border: 2px solid #577D86;
    border-radius: 10px;
}

#search-input {
    background: transparent;
    border: none;
}

#search-input, #search-section, #search-button .search-results {
    width: 100%;
}

.r-btn {
    width: auto;
    margin: 5px;
    font-size: 18px;
    background-color: #569DAA;
    border-radius: 5px;
    cursor: pointer;
}

.r-btn:focus{
    background-color: lightgreen;
}

#search-button{
    height: 23px;
    width: 100%;
    background-color: #569DAA;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
}

.search-results{
    display: flex;
    flex-direction: column;
    padding: 10px; 
}


/****** BOX STYLING ******/
#ingredient-section{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#instructions-section {
    line-height: 1.5;
}

#instructions-section, 
#nutrition-section,
#history-section{
    padding: 10px;
}

/* MAKING PAGE RESPONSIVE */
@media screen and (max-width: 768px){
    main{
        flex-direction: column;
        padding: 20px;
    }

    #search-aside{
        width: 100%;
        padding: 20px;
    }

    #search-button{
        width: 100%;
    }

    .column{
        width: 100%;
        padding: 20px;
        margin: 5px;
    }
}